body{
   background-color:pink;
}

nav{
    background-color:teal;
    color: white;
    padding: 5px;
    border: 3px solid yellow;
    
    
}

a {
   
    color: white;
}

#list li{
    display: inline-block;
}

footer{
   background-color: blue;
   color: white;
}
main{
    color: navy;
}

h1{
    text-decoration: underline;
    color: red;
    
}